@using DAL.Model
@using DAL.Repositories
@using Domain
@using WebApp.Model.TableRenders.Renders
@using WebApp.Model.Transactions
@model ImportTransactionsCsvVm
@inject IValueObjectRepository<ValueObject, long> Repository

@{
    ViewData["Title"] = "Import Transactions";

    var items = Repository.GetItems<Entity>(x => !x.IsSupplier);
}

<h2>Import Transactions</h2>

@await Html.PartialAsync("UploadStatus")

<div style="margin: 20px"></div>

<div class="form-horizontal">
    <form id="filesForm" method="post" enctype="multipart/form-data" asp-action="Upload">
        @Html.AntiForgeryToken()
        <div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Payer account:")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(x => x.EntityId, items.ToSelectListItems(), " ", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Upload file:")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
                            <input type="file" name="@nameof(ImportTransactionsCsvVm.Files)">
                        </span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        <a href="#" class="input-group-addon btn btn-primary fileinput-exists" onclick="$('#filesForm').submit()">Upload</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>