@using Microsoft.AspNetCore.Html
@using WebApp.Model.TableRenders.Renders
@model Domain.Balance.EndBalance

<div class="row" style="margin-top: 20px">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>@Html.LabelFor(x => x.BalanceOnStartDate)</th>
                <th>@Html.LabelFor(x => x.BalanceOnEndDate)</th>
                <th>@Html.LabelFor(x => x.TotalIncome)</th>
                <th>@Html.LabelFor(x => x.TotalExpenses)</th>
                <th>@Html.LabelFor(x => x.TotalAmount)</th>
                <th>@Html.LabelFor(x => x.AvailableBalance)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Model.BalanceOnStartDate</td>
                <td>Model.BalanceOnEndDate</td>
                <td>Model.TotalIncome</td>
                <td>Model.TotalExpenses</td>
                <td>Model.TotalAmount</td>
                <td>Model.AvailableBalance</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@if (Model.ProjectsBalances.Any())
{
    <div class="row" style="margin-top: 20px">
        <div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist" style="width: 100%">
            <div class="m-accordion__item">
                <div class="m-accordion__item-head" role="tab" id="m_accordion_1_item_1_head" data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded="true">
                    <span class="m-accordion__item-icon">
                        <i class="fa flaticon-user-ok"></i>
                    </span>
                    <span class="m-accordion__item-title col-md-12">Projects Summary</span>
                    <span class="m-accordion__item-mode"></span>
                </div>

                <div class="m-accordion__item-body collapse" id="m_accordion_1_item_1_body" role="tabpanel" aria-labelledby="m_accordion_1_item_1_head" data-parent="#m_accordion_1" style="">
                    <div class="m-accordion__item-content">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>@Html.LabelFor(x => x.ProjectsBalances[0].Name)</th>
                                        <th>@Html.LabelFor(x => x.ProjectsBalances[0].Budget)</th>
                                        <th>@Html.LabelFor(x => x.ProjectsBalances[0].Expenses)</th>
                                        <th>@Html.LabelFor(x => x.ProjectsBalances[0].Saldo)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var summary in Model.ProjectsBalances)
                                    {                                      
                                        <tr>
                                            <td>@summary.Name</td>
                                            <td>summary.Budget</td>
                                            <td>summary.Expenses</td>
                                            <td>summary.Saldo</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}