@using Domain.ProfileSettings
@using WebApp.Controllers
@using WebApp.Extensions
@using WebApp.Model.Forms
@using WebApp.Views.Shared.CommonButtons

@{
    var formContainerId = Guid.NewGuid().ToString();

    var descriptor = FormBuilder<DeliveryAddressDomain>.CreateNew((bool)ViewData[ProfileSettingsController.Mode])
        .AddItem(x => x.Name)
        .AddItem(x => x.StreetAndNumber)
        .AddItem(x => x.PostalCode)
        .AddItem(x => x.City)
        .Build();
}

    <div id="@formContainerId">
        <form class="m-form m-form--fit m-form--label-align-right"
              data-ajax="true"
              data-ajax-method="Post"
              data-ajax-mode="replace"
              data-ajax-update="#@formContainerId"
              asp-area=""
              asp-action="@nameof(ProfileSettingsController.DeliveryAddressSettings)"
              asp-controller="@nameof(ProfileSettingsController).ToControllerName()">

            <div class="">
                <div class="m-form__section m-form__section--first">
                    @await Html.FormItems_TwoColumnsAsync(descriptor)
                </div>

                <div style="font-size: 13px">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>

                <hr/>
                @if (!descriptor.ReadOnly)
                {
                    <button type="submit" style="margin-top: 30px" class="@CrudButtonsSettings.SaveStyle">Save</button>
                }
            </div>
            @await Html.PartialAsync("_FormScripts")
        </form>
    </div>
